<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
    <p title="TITLE"   style="text-align:center;font-family:Verdana;font-size:500%;" >
    Create An Account </p>
      <link rel="stylesheet" href="../css/Basic.css">
      <link rel="stylesheet" href="../css/bootstrap.css">
      <script  type="text/javascript" src="../js/xartis/jquery.min.js"></script> 
      <script type="text/javascript" src="/js/LoginRegJS.js">  </script>
      <script type="text/javascript" src="/js/xartis/register.js">  </script>
  

  </head>
  <body> <br> <br>
<div class="center">
    <label for="Username" style="font-size:100%;">Username</label> <br>
    <input type="text" name="Userame" placeholder="Username" id="usrnm" style="font-size:150%;"><br>
    <label for="Password" style="font-size:100%;">Password</label> <br>
    <input type="password" name="Password" placeholder="Password" id="pass"style="font-size:150%;"><br>
    <label for="PassVer" style="font-size:100%;">Verify Password</label> <br>
    <input type="password" name="PassVer" placeholder="Write Password Again" id="passV" style="font-size:150%;"><br>
    <label for="Pass" style="font-size:100%;">E-mail</label> <br>
    <input type="text" name="Pass" placeholder="Your e-mail" id="email"style="font-size:150%;"><br> <br>
    <button type="button" name="button" id="btn" style="font-size:250%;" class="btn btn-danger">Create Account</button> <br>
    <a href="/login" style="font-size:150%;" >Already have an Account?Log in! </a>
    </div>
  </body>
</html>
